@import url('https://fonts.googleapis.com/css?family=Outfit:400;700&display=swap');

:root
{
    --color-white:                  hsl(0, 0%, 100%);
    --color-light-gray:             hsl(212, 45%, 89%);
    --color-gray-blue:              hsl(220, 15%, 55%);
    --color-dark-blue:              hsl(218, 44%, 22%);

    --qr-block-width:               300px;
}
