*, *::before, *::after
{
    box-sizing:     border-box;
    padding:        0;
    margin:         0;
}


html
{
    height: 100%;
}


body
{
    min-height: 100%;

    background-color: var(--color-light-gray);

    font-family: "Outfit";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


img
{
    display:    block;
  
    width:          100%;
    height:         auto;
}


main
{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.qr-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: var(--qr-block-width);

    background-color: var(--color-white);

    padding-inline:     1rem;
    padding-block:      1rem;

    border-radius:      18px;
}


.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container.for-image
{
    border-radius:      18px;
    overflow: hidden;
}


.container.for-desc
{
    padding-inline: 0.75rem;
    padding-block:  0rem 1.5rem;
}


h1
{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px ;

    margin-top: 2rem;
}


p
{
    font-size:  var(--paragraph-font-size);
    font-weight: 400;
    color: var(--color-gray-blue);
    text-align: center;
    margin-top: 1rem;
}


span
{
    white-space: nowrap;
}