@import url('https://fonts.googleapis.com/css?family=Outfit:400;700&display=swap');

:root
{
    --color-white:                  hsl(0, 0%, 100%);
    --color-light-gray:             hsl(212, 45%, 89%);
    --color-gray-blue:              hsl(220, 15%, 55%);
    --color-dark-blue:              hsl(218, 44%, 22%);

    --paragraph-font-size:          15px;

    --qr-block-width:               320px;
    --qr-block-shadow:              0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    /* 
    Shadow : 
    (1) - h-offset
    (2) - v-offset
    (3) - blur radius 
    (4) - spread radius
    (5) - color
    */
}
